/* General header styles */
.ichiraku-header {
  background-color: #070157;
  width: 100%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ichiraku-logo-img {
  width: 60px;
  height: auto;
}

.ichiraku-nav-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.ichiraku-nav-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  display: block;
  width: fit-content;
  font-size: 16px;
  font-weight: bold;
}

.ichiraku-nav-link:hover {
  color: #E7B348;
  transition: color 0.3s ease;
}

/* Dropdown styles */
.ichiraku-dropdown {
  position: relative;
}

.ichiraku-user-header {
  list-style: none;
}

.ichiraku-dropdown-menu {
  display: none !important; /* Escondido por defecto */
  flex-direction: column;
  position: absolute;
  top: 90%;
  right: 10%;
  background-color: #fff;
  color: #333;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
}

.ichiraku-dropdown-menu li {
  padding: 5px;
}

.ichiraku-dropdown-menu li a {
  display: flex !important;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  display: block;
  padding: 7px 25px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ichiraku-dropdown-menu li a:hover {
  background-color: #f4f4f4;
}

/* Mostrar el menú cuando tenga la clase "show" */
.ichiraku-dropdown-menu.show {
  display: flex !important;
}

.ichiraku-logout-link {
  color: #f14343 !important;
  transition: background-color 0.3s ease;
}

.ichiraku-logout-link:hover {
  background-color: #fef2f2 !important;
}

.ichiraku-logout-link a {
  color: #f14343 !important;
}