body {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.formulari {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: min-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#titolIndex {
    color: #070157;
    margin-bottom: 20px;
    text-align: center;
}

.logout {
    display: flex;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #070157;
}

h2 {
    text-align: center;
    color: #070157;
}

.imatgeVistaPrevia {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 200px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #070157;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 10px; /* Changed from margin-right to margin-bottom */
    transition: background-color 0.3s;
}

#borrar {
    background-color: #dc3545 !important;
}

button:hover {
    background-color: #050145;
}

.menu {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.botonsMenu {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #070157;
    color: white;
    transition: background-color 0.3s;
}

.botonsMenu:hover {
    background-color: #050145;
}

#inputformulari {
    width: calc(100% - 20px);
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#botoActors {
    margin-right: 20px;
}

#botoPaisos {
    margin-left: 20px;
}

table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: auto;
}

th, td {
    padding: 15px;
    text-align: center;
    color: white;
}

thead {
    background-color: #070157;
    color: white;
    font-size: large;
}

tbody tr:nth-child(odd) {
    background-color: #444;
}

tbody tr:hover {
    background-color: #555;
}

#botoAfegir {
    margin-bottom: 30px;
}

img {
    width: 80px;
    border-radius: 5px;
}

td {
    vertical-align: middle;
}

.pagina {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    color: #333;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
    padding: 10px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.titolheader {
    font-size: 24px;
}

.imatgeheader {
    cursor: pointer;
    transition: opacity 0.3s;
}

.imatgeheader:hover {
    opacity: 0.8;
}

footer {
    background-color: #070157;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    padding: 10px 0;
}

.buscador {
    padding: 40px;
}

#inputbusqueda {
    padding: 10px;
    border: solid 1px black;
    border-radius: 10px;
    width: 300px;
}

#botobusqueda {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #070157;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#botobusqueda:hover {
    background-color: #050145;
}

.success {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.error {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}